#borrowed-Books-section {
  margin-top: 18vh;
}

.Borrowed {
  text-align: center;
}

.book .Borrowed a:hover {
  transform: translateY(-10px) scale(1.1);
  transition: 0.7s all;
}
.book .Borrowed {
  background-color: var(--Green-color);
}

.book .Borrowed:hover {
  background-color: red;
  transition: color 0.3s, transform 0.3s;
}

@media (max-width: 540px) {
  .book a {
    font-size: 15px;
  }
}
