#borrowed-Books-section {
  margin-top: 5vh;
  min-height: 50rem;
}

.Borrowed {
  text-align: center;
}

.remove-borrowed-book {
  position: fixed;
  top: 8px;
  right: 16px;
  background-color: red !important;
  transition: 0.3s ease !important;
}

.book .Borrowed a:hover {
  transform: translateY(-10px) scale(1.1);
  transition: 0.7s all;
}
.book .Borrowed {
  background-color: var(--Green-color);
}

#no-borrow-books {
  margin-top: 5vh;
  text-wrap: wrap;
}

@media (max-width: 540px) {
  #no-borrow-books {
    font-size: medium;
  }
}
