.first-section {
  display: block;
  height: fit-content;
}
.first-section .website-text {
  position: absolute;
  color: black;
  width: 50%;
  height: 60vh;
  height: fit-content;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: rgba(61, 61, 61, 0.2) 0px 2px 8px 0px;
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  margin-top: 10%;
  margin-left: 5%;
  text-align: center;
  padding: 100px;
  min-width: 500px;
  max-width: max-content;
}

.first-section img {
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 80%;
  min-height: 750px;
  max-height: 850px;

  margin-top: -2px;
  position: relative;
  filter: blur(5px);
  z-index: -2;
  object-fit: cover;
}
#we-recommend {
  margin-top: 1%;
  margin-left: 8%;
  margin-right: 2%;
}

@media (max-width: 540px) {
  .first-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-section .website-text {
    margin: 0;
    min-width: 100%;
    transition: 0.5s;
  }
}

@media (max-width: 420px) {
  .first-section .website-text {
    z-index: -1;
    transition: 0.5s;
    padding: 70px;
  }
}
