.first-section .website-text {
  position: absolute;
  color: black;
  width: 50%;
  height: 60vh;
  font-size: 20px;
  background-color: #eeeeee49;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 10vh;
  margin-left: 10vh;
  text-align: center;
  padding: 100px;
  min-width: 500px;
  max-width: max-content;
}

.first-section img {
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 80vh;
  margin-top: -2px;
  position: absolute;
  filter: blur(5px);
  z-index: -1;
  object-fit: cover;
}
#we-recommend {
  margin-top: 90vh;
  margin-left: 10%;
  margin-right: 2%;
}

.recommended-section {
  border-radius: 15px;
  background-color: #eeeeee49;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;
  margin: auto;
}

.book {
  width: 15%;
  min-width: 198px;
  min-height: 193px;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book img {
  border-radius: 20px;
  height: 250px;
  width: calc(250px * 0.7032967033);
}

.book .name {
  color: var(--dark-color);
  font-size: 15px;
}

.book a {
  display: inline-block;
  width: 50%;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--dark-color);
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  text-align: center;
  margin-bottom: 10px;
}

.book:hover {
  transform: translateY(-40px) scale(1.2);
  transition: 0.7s all;
}
