@import url(rule.css);
body {
  background-color: var(--white-color);
}

.loginForm {
  width: 700px;
  margin: 200px auto; /* Adjust margin to create space around the form */
  background-color: var(--gray-color);
  padding: 150px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 40px 20px 27px 20px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 5px;
}
.input {
  width: calc(100% - 10px);
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
}
.input:focus {
  border-bottom: 2px solid var(--Green-color);
}

#password-container {
  display: flex;
  align-items: center;
}

#show-pass {
  flex: 1;
  display: block;
  cursor: pointer;
  border-radius: 15px;
  color: black;
}

#show-pass :hover {
  transition: 0.5s;
  color: var(--Green-color);
}
/* 
#login-button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-color);
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 50px;
} */

#login-button:hover,
#signup-button:hover {
  background-color: var(--Green-color);
  transition: 0.5s;
}

.loginForm a,
#signup-button {
  /* #signup-button { */
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--dark-color);
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  text-align: center;
}

@media (max-width: 700px) {
  .info {
    font-size: 20px;
  }
  .input {
    font-size: 18px;
  }
  .loginForm {
    padding: 50px;
    width: 90%;
  }
}
