@import url("rule.css");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Madimi One";
}

nav {
  background-color: var(--dark-color);
  height: 80px;
}
label.logo {
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
  padding: 0 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 15px;
  text-transform: uppercase;
}
#check {
  float: right;
  display: none;
}
#menu {
  float: right;
  display: none;
  color: white;
  font-size: 50px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

a.active,
a:hover {
  background-color: var(--Green-color);
  transition: 0.75s;
}

@media (max-width: 1490px) {
  label.logo {
    font-size: 40px;
  }
  nav ul li a {
    font-size: 15px;
  }
}

@media (max-width: 1250px) {
  #menu {
    display: block;
  }
}
