@import url("rule.css");

nav {
  width: 100%;
  background-color: var(--dark-color);
  height: 80px;
}

.logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
  padding: 0 80px;
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 15px;
  text-transform: uppercase;
}

#check {
  float: right;
  display: none;
}

#menu {
  float: right;
  display: none;
  color: white;
  font-size: 50px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: var(--Green-color);
  transition: 0.75s;
}

@media (max-width: 1250px) {
  #menu {
    display: block;
    transition: all 0.5s;
  }

  ul {
    position: absolute;
    width: 50%;
    height: 63vh;
    min-height: 600px;
    background: var(--dark-color);
    text-align: center;
    top: -200%;
    right: 0%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s;
    z-index: 1;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    top: 75px;
  }
}
