@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"); /* "Madimi One font from google fonts" */

:root {
  --dark-color: #222831;
  --gray-color: #31363f;
  --Green-color: #76abae;
  --white-color: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Madimi One";
}
