.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;

  background: rgba(238, 238, 238, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(238, 238, 238, 0.06);
  padding: 10px;
}
.search img {
  width: 300px;
  height: 300px;
}
.search-area {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#search-bar {
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  background-color: white;
  width: 90vw;
  height: 50px;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  padding: 0px 0px 0px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#Search-by {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
#Search-by label {
  margin: 1px;
  display: flex;
  align-items: center;
}
#Search-by h1 {
  font-size: 28px;
}
.radio {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}
