{% extends "base.html" %} 
{% load static %}


{% block title %} 
login 
{% endblock title %} 


{% block content %} 
<!-- login form -->
<div class="loginForm">
  <form method="post">
    {% csrf_token %}
  
    <h1 class="info">Username</h1>
    <!-- user name input box -->
    {{form.username}}

    <h1 class="info">Password</h1>
    <!-- password container for the password input and show pass -->
    <div id="password-container">
      <!-- password input box -->
      {{form.password}}
    
      <!-- Show password click -->
      <div id="show-pass" onclick="ShowPassword()">
        <i class="fa-regular fa-eye" id="visibility"></i>
      </div>
      <script src="{% static "JS/login.js" %}"></script>
    
    </div>
    {% if  messages%}
      <ul class="errors">
        {% for error in messages %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <!-- login button -->
    <button type="submit" id="login-button" class="btn">Login</button>
    <!-- <button id="login-button" class="btn" >Login</button> -->
    <div id="signup">
      <span>Don't have an account  </span><a href="{% url "signup" %}"> Create one</a>
    </div>
  </form>
</div>
{% endblock content %}