{% extends "library/base.html" %} 
{% load static %}

{% block content %} 
<!-- signup form -->
<div class="loginForm" id="signupForm">
  <form method="post">
    <h1 class="info">Fullname</h1>
    <div id="fullname">
      {{form.first_name}}
      {{form.last_name}}
    </div>

    <h1 class="info">Username</h1>
    {{form.username}}

    <h1 class="info">Email</h1>
    <!-- Email input box -->
    {{form.email}}

    <h1 class="info">Password</h1>
    <!-- password container for the password input and show pass -->
    <div id="password-container">
      <!-- password input box -->
      {{form.password1}}
      <!-- Show password click -->
      <div id="show-pass" onclick="ShowPassword()">
        <i class="fa-regular fa-eye" id="visibility"></i>
      </div>
    </div>
    {{form.password2}}
    <div id="Authority">
      <h1 class="Admin">Authority</h1>
      {{form.user_type}}
    </div>

    {% if  messages%}
      <ul class="errors">
        {% for error in messages %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- login button -->
    <button id="signup-button" class="btn">Sign Up</button>
    <a id="signup-button" class="btn" href="{% url "login" %}">login</a>
    <p id="have-account">already have an account?</p>
  </form>
  <script src="{% static "JS/login.js" %}"></script>
</div>
{% endblock content %}