{% extends "base.html" %} 
{% load static %}
{% load widget_tweaks %}
{% block title %} 
signup 
{% endblock title %} 


{% block content %} 
<!-- signup form -->
<div class="signupForm" id="signupForm">
  <form method="post">
    {% csrf_token %}

    <h1 class="info">Fullname</h1>
    <div id="fullname">
      {% render_field form.first_name class="input" id="first-name-inp" placeholder="First name" required="on" %}
      {% render_field form.last_name class="input" id="last-name-inp" placeholder="Last name" %}
    </div>

    <h1 class="info">Username</h1>
    {% render_field form.username class="input" id="inp-username" placeholder="Enter your username" required="on"%}

    <h1 class="info">Email</h1>
    <!-- Email input box -->
    {% render_field form.email class="input" id="inp-email" placeholder="Enter your email" required="on"%}

    <h1 class="info">Password</h1>
    <!-- password container for the password input and show pass -->
    <div id="password-container">
      <!-- password input box -->
      {% render_field form.password1 class="input" id="inp-pass" placeholder="Enter your password" required="on"%}
      <!-- Show password click -->
      <div id="show-pass" onclick="ShowPassword()">
        <i class="fa-regular fa-eye" id="visibility"></i>
      </div>
    </div>
    {% render_field form.password2 class="input" id="confirm-inp-pass" placeholder="Confirm your password" required="on"%}
    
    <div class="power-container"> 
        <div id="power-point"></div> 
    </div>

    <div id="Authority">
      <label class="Admin" for="user_type" style="text-align: center;padding: 10px;">Authority</label>
      {% render_field form.user_type class="input" id="inp-user-type" required="on"%}
    </div>

    {% if  messages%}
      <ul class="errors" style="text-align:center">
        {% for error in messages %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- login button -->
    <button id="signup-button" class="btn">Sign Up</button>
    <div id="login">
      <span>already have an account? </span><a href="{% url "login" %}"> login</a>
    </div>
  </form>
  <script src="{% static "JS/login.js" %}"></script>
</div>
{% endblock content %}

{% block script %}

<script>
  let power = document.getElementById("power-point"); 
  let password = document.getElementById("inp-pass")
  let confirm_password = document.getElementById("confirm-inp-pass");

  password.oninput = function () { 
      let point = 0; 
      let value = password.value; 
      let widthPower =  
          ["5%", "25%", "50%", "75%", "100%"];
      let colorPower =  
          ["#D73F40", "#DC6551", "#F2B84F", "#BDE952", "#3ba62f"]; 
    
      if (value.length >= 6) { 
          let arrayTest =  
              [/[0-9]/, /[a-z]/, /[A-Z]/, /[^0-9a-zA-Z]/]; 
          arrayTest.forEach((item) => { 
              if (item.test(value)) { 
                  point += 1; 
              } 
          }); 
      } 
      power.style.width = widthPower[point]; 
      power.style.backgroundColor = colorPower[point]; 
  };

  confirm_password.oninput = function() {
    if (password.value != confirm_password.value) {
      confirm_password.style.borderBottom = '2px solid red';
    }
    else {
      confirm_password.style.borderBottom = '';
    }
  }
</script>
{% endblock script %}