#header-about-us {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  color: var(--text-color);
}

.Main-About {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  padding: 15px;
  width: 85%;
  margin-top: 50px;
  height: 45vh;
  font-size: 25px;
  color: var(--text-color);
}

.Main-About img {
  z-index: -1;
  width: 100%;
  border-radius: 30px;
  margin-top: 10px;
  max-width: 620px;
  min-width: 320px;
}

#Team-members {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  color: var(--text-color);
}
#Team-members ul li {
  padding: 4px;
  border-radius: 15px;
}

#Team-members ul li:hover {
  display: inline-block;
  background-color: var(--hover-color);
  transition: 0.5s;
  cursor: default;
}
.end {
  /* position: fixed;
  bottom: 0; */
  text-align: center;
  /* background-color: #f1efef; */
  width: 100%;
}

#Contact-us-section {
  font-size: large;
  margin: 20px 0 50px 0;
  color: var(--text-color);
}

@media (max-width: 850px) {
  .Main-About {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
  }
}
