#recommended-section,
.books-section {
  border-radius: 15px;
  background-color: var(--books-section-bg-color);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;
  width: 98%;
  margin: auto;
  margin-top: 1%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  position: relative;
  width: 15%;
  min-width: 198px;
  min-height: 193px;
  max-width: 300px;
  max-height: 30rem;
  margin: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  cursor: default;
  padding-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s ease;
}

.book img {
  border-radius: 20px;
  height: 250px;
  width: calc(250px * 0.7032967033);
}

.book .name {
  color: var(--text-color);
  font-size: 15px;
}

.book .name ~ a,
.book button {
  display: inline-block;
  width: 50%;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--btn-bg-color);
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.book button:hover {
  transition: 0.5s;
  background-color: var(--hover-color);
}
.book:hover {
  transform: translateY(-20px) scale(1.1);
  transition: 0.5s all;
}

.no-hover:hover {
  transform: none;
  transition: none;
}

@media (max-width: 540px) {
  #recommended-section,
  .books-section {
    width: 100%;
  }
  .book {
    margin: 5px;
    min-width: 196px;
  }
  .book:hover {
    transform: translateY(-30px) scale(1.05);
    transition: 0.5s all;
  }
  .no-hover:hover {
    transform: none;
    transition: none;
  }
}
