#borrowed-Books-section {
  margin-top: 5vh;
  min-height: 50rem;
}

.Borrowed {
  text-align: center;
}

.remove-borrowed-book {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: red !important;
  transition: 0.3s ease !important;
  width: 25% !important;
  opacity: 0.2;
}

.book:hover .remove-borrowed-book {
  opacity: 1;
}

.book .Borrowed {
  background-color: var(--borrowed-btn-bg-color);
}

#no-borrow-books {
  margin-top: 5vh;
  text-wrap: wrap;
  color: var(--text-color);
  text-align: center;
}

@media (max-width: 540px) {
  #no-borrow-books {
    font-size: medium;
  }
}
