.create-new-book-form {
  padding: 20px;
  background-color: var(--login-form-bg-color);
  border-radius: 10px;
  max-width: 100%;
  margin: auto;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.create-new-book-form .field-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.create-new-book-form .field-group label {
  margin-right: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-color);
}

.create-new-book-form .info {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.create-new-book-form .info label {
  margin-right: 20px;
}

.create-new-book-form .input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.create-new-book-form .input::placeholder {
  color: rgb(136, 133, 133);
  opacity: 1;
}

/* author/s and Genre/s multiple choice box */
.create-new-book-form select[multiple] {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  height: 190px;
  scrollbar-width: none;
}

select option {
  padding: 5px;
  color: white;
  margin: 5px;
  text-align: center;
}

.create-new-book-form select[multiple] option:checked {
  border-radius: 10px;
  background-color: var(--hover-color);
  color: black;
}

.create-new-book-form button[type="submit"] {
  display: block;
}

.create-new-book-form .field-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Added for better alignment */
  margin-top: 10px;
  margin-bottom: 20px;
}

.create-new-book-form .field-group label {
  margin-right: 20px;
  flex-shrink: 0;
}
.Notes {
  color: white;
  background: red;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  margin: 15px 0;
}

#desc-inp {
  height: 150px;
}

.multi-select {
  display: flex;
  justify-content: space-around;
}

#preview-book-img {
  border-radius: 20px;
  height: fit-content;
  width: calc(500px * 0.7032967033);
}
.book-inputs {
  padding: 15px;
}

.GENRES,
.AUTHOR {
  padding: 10px;
}

@media (max-width: 800px) {
  .form-container {
    flex-direction: column;
  }
}
