@import url(rule.css);

.loginForm,
.signupForm,
.ResetPassForm,
.RequestResetPassForm,
.edit-profile-form {
  width: 700px;
  margin: 200px auto; /* Adjust margin to create space around the form */
  background-color: var(--login-form-bg-color);
  padding: 150px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 40px 20px 27px 20px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info {
  font-size: 30px;
  color: var(--login-form-text-color);
  margin-bottom: 5px;
}
.input {
  width: calc(100% - 10px);
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
}
.input:focus {
  border-bottom: 2px solid var(--Green-color);
}

#password-container {
  display: flex;
  align-items: center;
}

#show-pass {
  flex: 1;
  display: block;
  cursor: pointer;
  border-radius: 15px;
  color: var(--login-form-text-color);
  font-size: 22px;
  width: 15px;
}

#show-pass :hover {
  transition: 0.5s;
  color: var(--btn-hover-effect-color);
}

#login-button:hover,
#signup-button:hover {
  background-color: var(--btn-hover-effect-color);
  transition: 0.5s;
}

#login-button,
#signup-button {
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--btn-bg-color);
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  text-align: center;
}

#signup {
  margin: 10px;
  color: white;
}

.errors {
  background-color: red;
  padding: 13px;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .info {
    font-size: 20px;
  }
  .input {
    font-size: 18px;
  }
  .loginForm,
  .signupForm,
  .ResetPassForm,
  .RequestResetPassForm,
  .edit-profile-form {
    padding: 50px;
    width: 90%;
  }
}
