.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;

  background: var(--search-bg-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(238, 238, 238, 0.06);
  padding: 10px;
}
.search img {
  width: 300px;
  height: 300px;
}
.search-area {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#search-bar {
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  background-color: white;
  width: 90vw;
  height: 50px;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  padding: 0px 0px 0px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-by-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--search-by-bg-color);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  margin: 10px;
}

.search-by-container .radio {
  flex: 1 1 auto;
  text-align: center;
}

.search-by-container .radio input {
  display: none;
}

.search-by-container .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.search-by-container .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

#results-text {
  margin-top: 1vh;
  text-align: center;
  font-size: 40px;
  color: var(--text-color);
}

.search-area {
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#auto_compelete_container {
  background-color: var(--search-bg-color);
  color: var(--text-color);
  border-radius: 5px 5px 15px 15px;
  padding: 15px;
  width: 100%;
  z-index: -1;
  margin-top: -10px;
  box-shadow: 15px 25px 15px 0px rgba(0, 0, 0, 0.1);
  height: 0;
  transform: scale(0);
  visibility: hidden;
  transition: 0.3s all;
}

#auto_compelete_container.visible {
  height: fit-content;
  visibility: visible;
  transform: scale(1);
  transition: 0.3s all;
}

#auto_compelete_container {
  z-index: 1;
}

.result {
  width: 100%;
}

.result::before {
  content: ">   ";
}
