{% extends "base.html" %} {% load static %} 
{% block title %} Forget password {%endblock title %} 



{% block content %}
<div class="RequestResetPassForm">
  <form method="post">
    {% csrf_token %}

    <h1 class="info">Request reset password</h1>
    <label for="email"></label>
    <input
      type="email"
      class="input"
      name="email"
      id="inp-email"
      placeholder="Enter your account's email address"
      style="font-size: 20px"
      required
    />

    {% if messages%}
    <ul class="errors">
      {% for error in messages %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <button type="submit" style="width: 100%; margin-top: 10px">
      Request Token
    </button>
  </form>
</div>
{% endblock content %}
