{% extends "base.html" %}

{% block title %}Reset password{% endblock title %}

{% block style %}
<style>
label {
  color:white;
}
</style>
{% endblock style %}

{% block content %}
<div class="ResetPassForm">
  <form method="post">
    {% csrf_token %}

    <h1 class="info">Reset your password</h1>
    <label for="new_password">New password</label>
    <input
      type="password"
      class="input"
      name="new_password"
      id="inp-pass"
      placeholder="Enter your new password"
      style="font-size: 20px"
      required
    />

    <label for="confirm_new_password">Confirm new password</label>
    <input
      type="password"
      class="input"
      name="confirm_new_password"
      id="inp-pass"
      placeholder="comfirm your new password"
      style="font-size: 20px"
      required
    />

    {% if messages%}
    <ul class="errors">
      {% for error in messages %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <button type="submit" style="width: 100%; margin-top: 10px">
      Submit
    </button>
  </form>
</div>
{% endblock content %}

