{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- page title -->
    <title>{% block title %}{% endblock title %}</title>
    <!-- page icon -->
    <link rel="shortcut icon" href="{% static "Images/icons/storytelling.ico"%}" type="image/x-icon" />
    
    <!-- css -->
    <link rel="stylesheet" href="{% static "website.css" %}" />

    <!-- toaster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    {% block style %}
    {% endblock style %}
  </head>
  <body>
    <!-- the navigation bar container -->
    <div id="nav-container">{% include "navbar.html" %}</div>
    <div style="margin-top: 80px"></div>

    {% block content%} {% endblock content %} 
    {% block script %} {% endblock script %}
    <script src="{% static "JS/Books.js" %}"></script>
    <script>
      const themeToggle = document.getElementById("theme-toggler");
      let currentTheme = localStorage.getItem("theme");

      function setTheme(theme) {
        document.body.className = theme;
        localStorage.setItem("theme", theme);
      }
      if (currentTheme) {
        setTheme(currentTheme);
      }
      else {
        setTheme("light");
      }

      if (currentTheme === "dark" && themeToggle) {
        themeToggle.checked = true;
      }
      if (currentTheme === "light" && themeToggle) {
        themeToggle.checked = false;
      }
    </script>
  </body>
</html>
