{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- page title -->
    <title>{% block title %}{% endblock title %}</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static "website.css" %}" />
  </head>
  <body id="home-body">
    <!-- the navigation bar container -->
    <div id="nav-container">{% include "navbar.html" %}</div>

    {% block content%} {% endblock%}
  </body>
</html>
