{% load static %}
<!-- Font awsome icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<!-- navigation bar -->
<!-- logo -->
<a href="/" class="logo">
  <img src="{% static "Images/icons/storytelling.ico" %}" width="40" height="40"
  />
  <span id="website-name">Library</span>
</a>
<!-- Pages -->
<nav>
  <!-- menu button -->
  <input type="checkbox" id="check" />
  <label for="check">
    <i class="fa-solid fa-bars show-menu" onclick="ToggleMenu()" id="menu"></i>
  </label>

  <ul class="pages">
    <li><a href="{% url "index" %}">Home</a></li>
    <li><a href="{% url "search" %}">Search</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url "borrowed" %}">Borrowed Books</a></li>
      {% if user.is_admin %}
        <li><a href="{% url "update" %}">Update Books</a></li>
      {% endif %}
    {% endif %}
    <li><a href="{% url "available" %}">Available Books</a></li>
    <li><a href="{% url "about" %}">About</a></li>

    {% if user.is_authenticated %}
      {% comment %} <li><a href="{% url "logout" %}">logout</a></li> {% endcomment %}
      
  </ul>
  <div class="profile">
          <img
            src="{{user.profile_icon.url}}"
            alt="Profile"
            class="profile-icon"
          />
          <div class="dropdown-content">
            <a href="{% url "profile" %}">Profile</a>
            <a href="{% url "edit profile" %}">Edit Profile</a>
            <a href="{% url "logout" %}">Logout</a>
          </div>
    </div>
  {% else %}
    <li><a href="{% url "login" %}">login</a></li>
  {% endif %}
  <!-- user profile -->
  <div id="user-profile-icon" style="display: none">
    <a class="active" href="userCard.html"></a>
  </div>
  <script src="{% static "JS/navigationBar.js" %}"></script>
</nav>
